.footer {
  background-color: #191919;
  p {
    margin: auto;
    color: white;
    opacity: 0.5;
  }
  img {
    margin-right: 2px;
  }
}

#underline {
  width: 50%;
  border: 2px solid #06eec7;
  opacity: 1;
  margin: auto;
}
